# VSCode 
*.vscode 

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

*build
*__pycache__*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app 



# Generated SpreadSheets 
*.csv 

# Generated Graphs 
*.TabOne 

# CMake generated functions 
*.make 
*.cmake 

# Large files 
*.pdf  

# MacOS 
*.DS_Store
